
{% extends "welcome.html" %}

{% load widget_tweaks %}



{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 mx-auto">
            <form action='/register/' method='post'>
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
                {% endfor %}

                {% for field in form.visible_fields %}

                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">{{ field.label_tag }}</span>
                        </div>
                        {% render_field field class="form-control" %}
                    </div>
                    <span class="help-text">{{ field.help_text }}</span>
                    <span class="text-error">{{ field.errors }}</span>
                </div>

                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>
	
{% endblock content %}
