{% extends "home/home.html" %}


{% block content %}

<div class="container">
    <div class="row mt-3">

        <div class="col-sm-12">
        </div>

        <div class="col-sm-12 mt-3">
            <div class="card">

                <div class="card-body">
                    <p>Authorized perimeters guards</p>
                    <p class="small">To add a guard, request the administrator to assign a perimap user under your guard ship</p>
                    <table class="table small">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Patrols</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        {% for guard in object_list  %}

                        <tr>
                            <td>{{guard.id}}</td>
                            <td>{{guard.username}}</td>
                            <td>{{guard.email}}</td>
                            <td>{{guard.user_patrols.count}}</td>
                            <td>
                                <a href="/accounts/remove_guards/{{guard.id}}" class="badge p-1 badge-danger"><i class="fa fa-trash"></i> remove</a>
                            </td>
                        </tr>

                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}