{% extends "home/home.html" %}


{% block content %}

	<div class="container">
		<div class="row mt-3">

			<div class="col-sm-12">
				<a href="/perimeters/create/" class="btn btn-sm btn-success float-right">create perimeter</a>
			</div>

			<div class="col-sm-12 mt-3">
				<div class="card">

					<div class="card-body">
						<p>Perimeters for different properties displayed here</p>
						<table class="table small">
							<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Patrols</th>
								<th>Floors</th>
								<th>Checkpoints</th>
								<th>Action</th>
							</tr>
							</thead>

							{% for peri in object_list  %}

							<tr>
								<td>{{peri.id}}</td>
								<td>{{peri.name}}</td>
								<td>{{peri.patrols.count}}</td>
								<td>{{peri.floors.count}}</td>
								<td>{{peri.perimeter_checkpoints.count}}</td>
								<td>
									<a href="/patrol/view/{{peri.id}}" class="badge badge-warning p-1"><i class="fa fa-fire"></i> patrols</a>
									<a href="/perimeters/view/{{peri.id}}" class="badge p-1 badge-primary"><i class="fa fa-eye"></i> view</a>

								</td>
							</tr>

							{% endfor %}
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
	
{% endblock content %}