{% extends "home/home.html" %}

{% load widget_tweaks %}
{% load qr_code %}

{% block styles %}

    <style type="text/css">
        .floors-list li{
            border-bottom: 1px solid whitesmoke;
        }

        .floors-list{
            list-style: none;
            margin-left: 0px !important;
            padding-inline-start: 0px;
            padding-bottom: 5px;
            padding-top: 3px;

        }
    </style>
    
{% endblock styles %}




{% block content %}

    <div class="container">
        <div class="row mt-3">
           
            <div class="col-sm-9 mx-auto">
                <h5>Perimeter checkpoints <a class="btn btn-sm btn-outline-success ml-2 float-right" href="/perimeters/view/{{perimeter.id}}/"> <i class="fa fa-arrow-left"></i> Back to perimeters</a>
                </h5>

                <div class="row">
                    {% for checkpoint in checkpoints %}

                        <div class="col-sm-4">
                            {% qr_from_text checkpoint.bar_code size="M" %}
                            <p class="small">{{checkpoint.geo_location}}</p>
                        </div>

                    {% endfor %}
                </div>



            </div>
        </div>
    </div>

{% endblock content %}